:root {
  cursor: url("/assets/img/svg/cursor.svg") 12 12, auto;
}

body {
  color: rgb(250, 238, 217);
  background-color: rgba(0, 0, 0, 0.842);
  overflow-x: hidden;
}

nav {
  color: red;
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #b69bce10;
}
thead {
  color: #d4bee4;
  background-color: #3b1e54;
}
tbody {
  color: #9b7ebd;
  background-color: #2c104d52;
}
.table-cont {
  width: 100%;
}

.center {
  text-align: center;
}

nav {
  text-align: center;
  width: 100%;
}

.favicon {
  margin: 12px calc(100% - 100px - 45%);
  width: 100px;
}
